
@font-face {
  font-family: 'MaPolice1';
  src: url('PTSansNarrow-Regular.ttf');
}

@font-face {
  font-family: 'MaPolice2';
  src: url('Kalam-Regular.ttf');
}
h1{
  text-align: center;
  color: black;
  font-size: 35px;
  padding: 20px;
}
body {
  margin: 0;
}

button{
  position: relative;
  margin-top: 0%;
  margin-left: 100%;
  font-size: 150px;
}
ul {
  list-style-type: none;
  padding: 14px;
  margin-top: -20px;
  background-color: black;
  color:  rgb(125, 147, 104);
  text-align: center;
}

li{
  display: inline-block;
  margin-left: 10px;
  padding: 14px;
}

a {
  text-decoration: none;
  border: none;
  color: inherit;
  margin: 10px;
  margin-bottom: 0;
  font-size: 30px;
  cursor: pointer;
}


a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
} 


a:focus{
  text-decoration: underline;
  text-decoration-color: green;
  color: white;
  text-decoration-thickness: 2px;
} 

h2{
  text-align: center;
  font-family: Mapolice2;
  font-size: 45px;
}

.actu{
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 30px;
  padding: 3px;
  padding-left: 10px;
  border: 5px solid gray;
  border-radius: 20px;
  background-color: rgb(196, 205, 198);
}
.actu:hover{
 background-color: white;
}
p{
  font-size: 20px;
}
h3
{
font-size: 30px;
}

a#deconnexion, a#admin {
  position: absolute;
  top: 0;
  right: 0;
}